@import "head/star-parameters__head.css";
@import "levers/star-parameters__levers.css";

.star-parameters {
   padding: 3px;
   border: 1px solid transparent;
}
.star-parameters:hover {
    border: 1px solid grey;
}
