.star-parameters__delete-parameters {
    position: absolute;
    right: 10px;
    background: transparent;
    border: 0;
    color: #cc9a9a;
}

.star-parameters__delete-parameters:hover {
    color: #af5b5e;
    font-weight: bold;
}